# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Honor Roll OOP.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\mpari\Documents\coding projects\C++\Honor Roll\OOP\Honor Roll OOP\.idea\.idea.Honor Roll OOP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
